/artlist_scraper
/lost+found
/tibo
*/*.wav
*/*.png
*/*.json
*/*.tflite
*/*.pyc
*/*.pb
*/*.index
*/models
*/__pycache__
*/working_data
*/*.tsv
*/*.csv
*/MAD
*/*.h5
*/*.npy
*.npy
*.pb
*.csv
*.tsv
*.index
*.tflite
*.hd5
*.zip
/Vedant/MAD
/datasets
/Saksham/backupAudio
/Saksham/features
/Saksham/recordedIR
/Saksham/tmp
/Saksham/testAudio
/Saksham/path